/* Reset some default styling */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header, footer {
    background: #f3f3f3;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  #sidebar {
    float: left;
    width: 20%;
    background: #e8e8e8;
    padding: 20px;
  }
  
  #sidebar nav h2 {
    padding-bottom: 10px;
  }
  
  #sidebar nav ul {
    list-style-type: none;
  }
  
  #sidebar nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0;
  }
  
  main {
    float: left;
    width: 80%;
    padding: 20px;
  }
  
  footer {
    clear: both;
  }
  
  /* Simple responsive breakpoint */
  @media (max-width: 768px) {
    #sidebar, main {
      float: none;
      width: auto;
    }
}